[submodule "lib/libxml2"]
	path = lib/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
	branch = master
	ignore = dirty
[submodule "lib/jemalloc"]
	path = lib/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
	branch = master
	ignore = dirty
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://recp@github.com/recp/cglm.git
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl.git
	branch = master
[submodule "lib/libuv"]
	path = lib/libuv
	url = https://github.com/libuv/libuv.git
	branch = master
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "test/lib"]
	path = test/lib
	url = git://git.cryptomilk.org/projects/cmocka.git
[submodule "test/lib/cmocka"]
	path = test/lib/cmocka
	url = git://git.cryptomilk.org/projects/cmocka.git
[submodule "test/sample-models"]
	path = test/sample-models
	url = https://github.com/recp/sample-models.git
[submodule "lib/libds"]
	path = lib/libds
	url = https://github.com/recp/libds.git
[submodule "lib/jansson"]
	path = lib/jansson
	url = https://github.com/akheron/jansson.git
[submodule "lib/jsmn"]
	path = lib/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/recp/json.git
