[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/recp/json.git
[submodule "deps/xml"]
	path = deps/xml
	url = https://github.com/recp/xml.git
[submodule "deps/ds"]
	path = deps/ds
	url = https://github.com/recp/ds.git
